@using Nop.Core.Domain.Forms
@model FormFieldModel

<input type="hidden" asp-for="FormId" />

<div class="form-group row">
	<div class="col-md-3">
		<nop-label asp-for="Name" />
	</div>
	<div class="col-md-9">
		<nop-editor asp-for="Name" asp-required="true" />
		<span asp-validation-for="Name"></span>
	</div>
</div>

<div class="form-group row">
	<div class="col-md-3">
		<nop-label asp-for="DisplayOrder" />
	</div>
	<div class="col-md-9">
		<nop-editor asp-for="DisplayOrder" />
		<span asp-validation-for="DisplayOrder"></span>
	</div>
</div>

<div class="form-group row">
	<div class="col-md-3">
		<nop-label asp-for="Required" />
	</div>
	<div class="col-md-9">
		<nop-editor asp-for="Required" />
		<span asp-validation-for="Required"></span>
	</div>
</div>

<div class="form-group row">
	<div class="col-md-3">
		<nop-label asp-for="ControlTypeId" />
	</div>
	<div class="col-md-9">
		<nop-select asp-for="ControlTypeId" asp-items="Model.AvailableControlTypes" />
		<span asp-validation-for="ControlTypeId"></span>
	</div>
</div>

<div class="form-group row" id="optionsContainer">
	<div class="col-md-3">
		<nop-label asp-for="Options" />
	</div>
	<div class="col-md-9">
		<div id="optionList"></div>
		<button type="button" class="btn btn-info" onclick="addOptionInput()">Add Option</button>
	</div>
</div>

<script>
	function toggleOptions() {
		const controlType = parseInt($(this).val());
		const optionsDiv = $('#form-field-card #optionsContainer');
		if ([@((int)ControlTypeEnum.DropDown), @((int)ControlTypeEnum.RadioButton), @((int)ControlTypeEnum.Checkbox)].includes(controlType)) {
			//add option only if there is not at least one div
			if(!$('#optionList').html().trim()){
				addOptionInput();
			}
			optionsDiv.show();
		} else {
			optionsDiv.hide();
			$('.remove-option').click();
		}
	}

	function addOptionInput(value = '') {
		const optionHtml = `
			<div class="d-flex pb-2 option-input">
				<input type="text" name="SelectedOptions" class="form-control w-50 mr-2" value="${value}" />
				<button type="button" class="btn btn-outline-danger remove-option">Remove</button>
			</div>
		`;
		$('#optionList').append(optionHtml);
	}

	// Remove option input
	$('#form-field-card').on('click', '.remove-option', function () {
		$(this).parent().remove();
	});

	$(document).on('change', '#form-field-card #@Html.IdFor(model => model.ControlTypeId)', toggleOptions);
	$(document).ready(toggleOptions);

</script>